<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <title>Edycja zadania</title>
</head>
<body>
<div style="width: 100%; max-width: 1000px; margin: auto; padding-top: 30px">
    <form class="row g-3" method="post" th:action="@{/edit}" th:object="${task}">
        <h2>Edycja zadania</h2>
        <input th:field="*{id}" type="hidden">
        <div class="col-md-6">
            <label class="form-label" th:for="name">Zadanie</label>
            <input class="form-control" required th:field="*{name}" th:id="name" type="text"/>
        </div>

        <div class="col-md-6">
            <label class="form-label" th:for="desc">Opis</label>
            <input class="form-control" placeholder="opis" th:field="*{description}" th:id="desc" type="text"/>
        </div>
        <div class="col-md-6">
            <label class="form-label" th:for="date">Termin</label>
            <input class="form-control" required th:field="*{deadline}" th:id="date" type="date"/>
        </div>
        <div class="col-md-6">
            <label class="form-label" th:for="category">Typ</label>
            <select class="form-select" required th:id="category" th:name="category">
                <option th:each="category : ${T(com.example.taskmanager.Category).values()}"
                        th:selected="${category == task.category}" th:text="${category.description}"
                        th:value="${category}"></option>
            </select>
        </div>
        <input th:field="*{completed}" type="hidden">
        <div class="col-12">
            <button class="btn btn-primary" name="submit" type="submit" value="submit">Edytuj</button>
        </div>
    </form>
</div>
</body>
</html>